.Banner{
    position: relative;
    text-align: center;
    
}
.centered{
  background: rgba(9, 124, 201, 0.678);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  font-size: 36px;
  color: rgb(255, 136, 0);
  padding: 10px;
  border-radius: 10px;
}